<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/common/seajs/seajs/2.2.1/sea.js"></script>
    <script src="../js/common/config.js"></script>

</head>
<body>
    <button id="getCookieButton">获得cookie</button>
    <button id="removeCookieButton">删除cookie</button>
    <div id="showCookieDiv">
        您输入的名字是：<span id="name"></span><br>
        您输入的年龄是：<span id="age"></span>
    </div>


    <script type="text/javascript">
        seajs.use("../js/my/test01.js");
    </script>
</body>
</html>